.Card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 12px;
    cursor: pointer;
}

.Card_container {
    width: 90%;
    height: 90%;
    overflow: hidden;
}

.Card_container img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    transform: scale(1);
    transition: all .8s ease-in-out;
}

.Card_container img:hover {
    transform: scale(1.3);
}

.Card_container h2 {
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

