
.CharacterCard {
    display: flex;
    justify-content: center;
    max-width: 380px;
    max-height: 420px;
    border-radius: 12px;
    border: 2px solid var(--main-color);
}

.CharacterCard_Wrapper {
    width: 90%;
    padding: 20px 0px;
}

.ImageWrapper {
    display: flex;
    justify-content: center;
    height: 60%;
}

.ImageWrapper img {
    width: 100%;
    object-fit: fill;
}

.ContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
}

.ContentWrapper span {
    font-weight: 400;
}