
.Search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    height: auto;
    min-height: 80px;
}
  
.Search_Wrapper {
    width: 90%;
    max-width: 400px;
    height: auto;
}
  
.Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
    padding: 20px;
    height: 100%;
    font-size: 1.8rem;
    background-color: var(--main-color);
}
  
.Input_Text {
    border: 1px solid var(--main-color);
    height: 40px;
    width: 70%;
    max-width: 50px;
    border-radius: 12px;
    padding: 2%;
    font-family: 'ZCOOL KuaiLe';
    outline: none;  
}
  
.Input_Button {
    height: 40px;
    width: 25%;
    max-width: 100px;
    border: none;
    background-color: var(--main-color);
    border-radius: 12px;
    font-family: 'ZCOOL KuaiLe';
    cursor: pointer;
}