* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --BG: #262c3a;
  --main-color: #3499db;
  --main-color-bold: #0377bd;
  --secundary-color: #30b724;
  --white-color: #fff;
  --black-color: #020202;
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}



